body {
  background: white;
  color: #323232;
  font-weight: 300;
  height: 100vh;
  margin: 0;
  padding: 40px 0;
  font-family: Helvetica neue, roboto;
}
.post-item {
  text-align: left;
  width: 80%;
  border: 1px solid #eee;
  padding: 15px 20px;
  margin: 30px auto 25px;
}

.post-item span {
  font-size: 12px;
}

.post-item img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.favorit-btn {
  width: 200px;
  height: 100px;
  background-color: red;
}
